.header {
    text-align: center;
    border: 1px solid  #7e7d68;
    background: #e5e4e8;
}

th.header {
    min-width: 65px;
}

td.header {
    min-width: 28px;
    font-weight: bold;
}

th.rowHeaderHeader {
    min-width: 28px;
}

td {
    text-align: right;
    border: 1px solid #c0c0c0;
}

td.erroneous {
    background: #ff0000;
}

table {
    border: 1px solid #c0c0c0;
    border-collapse: collapse;
}

.errorTab {
    background: #ff0000 !important;
}

