/* The table itself */
table.ccMain {
    border: 1px solid #c0c0c0;
    border-collapse: collapse;
}

/* Normal / empty cells */
td.ccMain {
    text-align: right;
    border: 1px solid #c0c0c0;
}

/* Column AND row headers. */
th.ccHeader, td.ccHeader {
    text-align: center;
    border: 1px solid  #7e7d68;
    background: #e5e4e8;
}

/* Column headers: A B C D E F ... */
th.ccHeader {
    min-width: 65px;
}

/* Row headers: 1 2 3 4 5 ... */
td.ccHeader {
    min-width: 28px;
    font-weight: bold;
}

/* The column header to the row header. It's an empty box. */
th.ccRowHeaderHeader {
    min-width: 28px;
}

/* Input cells */
td.ccInput {
    border: 2px solid black;
    font-weight: bold;
}

/* Erroneous input cells */
td.ccInputError {
     background: #ff0000;
}

/* Output cells */
td.ccOutput {

}

/* Erroneous output cells */
td.ccOutputError {
    background: #ff0000;
}


