/* The table itself */
table.ccMain {
    border: 1px solid #c0c0c0;
    border-collapse: collapse;
}

/* Normal / empty cells */
table.ccMain td, table.ccMain th {
    text-align: right;
    border: 1px solid #c0c0c0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}

/* Column AND row headers. */
th.ccHeader, td.ccHeader {
    text-align: center !important;
    border: 1px solid  #7e7d68 !important;
    background: #e5e4e8 !important;
}

/* Column headers: A B C D E F ... */
th.ccHeader {
    min-width: 65px;
}

/* Row headers: 1 2 3 4 5 ... */
td.ccHeader {
    min-width: 28px;
    font-weight: bold;
}

/* The column header to the row header. It's an empty box. */
th.ccRowHeaderHeader {
    min-width: 28px;
}

/* Input cells */
td.ccInput {

}

/* Erroneous input cells */
td.ccInputError {
     background: #ff0000;
}

/* Draggable input cells */
td.ccInputDraggable {
    cursor: move !important;
}

/* Input cells, once they can no longer be dragged. */
td.ccInputUndraggable {
    color: #808080;
    border-color: #808080;
}

/* Output cells */
td.ccOutput {
    border: 2px solid black !important;
}

/* Erroneous output cells */
td.ccOutputChange {
    background-color: yellow;
}

/* Style applied to tab text when a change occurs (error -> normal) in a WS */
a.ccWsTabChange {
    color: #ff0000 !important;
    font-weight: bold;
}

ul.ccTabList
{
 margin:0;
 padding: 3px 0;
 font: bold 12px Arial, sans-serif;
}

ul.ccTabList li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.ccTabList li a
{
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: #DDE;
 text-decoration: none;
}

ul.ccTabList li a:link { color: #448; }
ul.ccTabList li a:visited { color: #667; }

ul.ccTabList li a:hover
{
 color: #000;
 background: #AAE;
 border-color: #227;
 padding: 5px;
}

ul.ccTabList li.ui-tabs-active a
{
 color: #000;
 background-color: #fff;
 border-bottom: 1px solid #fff;
}

ul.ccTabList li.ui-tabs-active a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}

.ccTab {
    border: 1px solid #aaa;
    display: inline-block;
}

div.ccRankList {
    background-color: #c0c0c0;
}

div.ccRankList ul {
    padding: 5px;
}

div.ccUnimportantList {
    background-color: #c0c0c0;
}

div.ccUnimportantList ul {
    padding: 5px;
}

li.ccListItem {
    list-style: none;
}
